# This is a comment in a ProGuard file

# Keep specific classes from being removed or obfuscated
-keep class com.macronegocios.orders { *; }

# General rules for common scenarios
-dontwarn mono.android.**
-dontwarn android.support.**
-dontwarn androidx.**
-dontwarn com.google.android.gms.**

# To preserve line numbers and source file information for crash reporting/debugging
-keepattributes SourceFile, LineNumberTable

# If using certain libraries (e.g., Secure Storage in MAUI essentials), specific rules might be needed
-keep class androidx.security.crypto.** { *; }
-keep class com.google.crypto.tink.** { *; }

# Add specific -keep rules provided by any third-party SDKs here.
# Example for a hypothetical SDK:
# -keep class com.regula.documentreader.** { *; }
